<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">

    <title>Python URL Shortener</title>
</head>
<body>
    <h1>Python URL Shorterner</h1>
    <h3>A simple try at URL Shortening service. </h3>

    <form id="shorten-rul-form">
        <label for="long-url-input">Enter your url you want to shorten:</label>
        <br>

        <input 
            type="url"
            id = "long-url-input"
            name="long_url"
            placeholder="https:example.com/very-long-url"
            required
        >

        <button type="submit">Shorten</button>
    </form>

    <div id="result-container"></div>

    <script>
        const shortenForm = document.getElementById('shorten-form');
        const resultContainer = document.getElementById('result-container');


        shortenForm.addEventListener('submit', async (event) => {
            event.preventDefault;
            console.log('Form submitted!');

            const urlInput = document.getElementById('long-url-input');
            const longUrl = urlInput.value;

            resultContainer.innerHTML = '';

            try{
                const response = await fetch('/api/shorten', {
                    method : 'POST',
                    headers : {
                        'Content-Type' : 'application/json',
                    },
                    body : JSON.stringify({ long_url:longUrl }),
                });

                const data = await response.json();

                if (response.ok){
                    resultContainer.innerHTML = `
                    <p>Success! Your short url is ready</p? 
                        <a href = "${data.short_url}" target = "_blank">${data.short_url}</a>
                        `;
                } else {
                    resultContainer.innerHTML = `<p style = "colour : red;">Error: ${data.error}</p>`;
                    } 
                }
                catch (error) { 
                    resultContainer.innerHTML = `<p style = "colour: red;">An unexpected error occured. Please try again.</p>`;
                    console.error('Fetch error: ', error);
                }
                
            // console.log('Received response from server: ', response)
        });
    </script>

</body>
</html>